html{
background: url(/static/labs/images/contact.jpg) no-repeat center center fixed;
	    background-size: cover;
}

h1 {
color: black;
          text-align: center;
           font-family: 'Pacifico', cursive;
            font-weight: 900;
             font-size: 400%;
      } 

.continfo {
	text-align: center;
}

.map {
	text-align: center;
}
