<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>About Us!</title>
<link href="/static/labs/gallery/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/labs/gallery/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/labs/gallery/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
	<script type="text/javascript" src="/static/labs/gallery/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="/static/labs/gallery/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <!-- web-fonts -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
<script type="text/javascript" src="/static/labs/gallery/js/move-top.js"></script>
<script type="text/javascript" src="/static/labs/gallery/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<!-- header-section-starts-here -->
	<div class="header">
		<div class="container">
			<div class="header-top">
				<p>Click <a href="../">here</a> for home!</p>
				<div class="logo" align="center">
					<h1 align="center"><a href="../">Cognitive Science Lab</a></h1>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<!-- navigation -->
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li><a href="/volunteer">Volunteer!<span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="/about">ABOUT</a></li>
								<li><a href="/videos">Videos</a></li>
								<li><a href="/gallery">Pictures</a></li>
								<li><a href="/posts">Blog</a></li>
								<li><a href="/contact">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>
	<!-- header-section-ends-here -->
	<!-- content-section-starts-here -->
	<div class="content">
		<div class="about-section">
			<div class="about">
				<div class="container">
					<div class="about-top heading">
						<h2 class="heading text-center">ABOUT US</h2>
					</div>
					<div class="about-bottom text-center">
						<img src="/static/labs/gallery/images/20130906170823-0_0_0.jpg" alt="" />
						<h4>About CogSci Lab</h4>
						<p>Cognitive Science is the study of how we perceive, act in, reason about and form beliefs about our environment. It is an interdisciplinary research area that involves philosophy, psychology, neuroscience, linguistics, anthropology and artificial intelligence.
						The Cognitive Science Society brings together researchers from around the world who hold a common goal: understanding the nature of the human mind. The mission of the Society is to promote Cognitive Science as a discipline, and to foster scientific interchange among researchers in various areas of study, including Artificial Intelligence, Linguistics, Anthropology, Psychology, Neuroscience, Philosophy, and Education. The Society is a non-profit professional organization and its activities include sponsoring an annual conference and publishing the journals Cognitive Science and TopiCS.  
						<br>
						 
						 </p>
					</div>
				</div>
			</div>
		<div class="about-middle">	
		<br><br>
            <div class="container">
                    In our cognitive science laboratory, we are currently working on the following research problems:
						 <ul>
						 <li>cognitive modeling of aesthetics and its applications to layout and interface design,</li>
						 <li>understanding and modeling visual metaphors, </li>
						 <li>developing cognition and communicative assistive tools for children with learning difficulties like dyslexia and autism, </li>
						 <li>understanding and modeling human visual processing system.</li>
						 </ul>
						 <br>
						 We welcome bright and enthusiastic people who are interested to explore these or any other areas related to cognition to join our group. 
						 What have you been observing? We have a highly programmed day while Wayne and the dancers have been here. While the dancers are warming up, I interview Wayne for an hour. The students arrive during this time. Each dancer has been assigned a team of at least two students and now that they know each other they say hello right after the warm up. Once the first session begins the students take detailed ethnographic notes on what they see their own dancer to be doing. If they ask a question of Wayne or Odette they write that down. If they stop and talk to a neighbor or interact with someone they write that down too. <br>
						 Our best ethnographers learned to take these notes studying primates in the San Diego zoo and Wild Animal park. The same thing happens in the second sessions after lunch. All the while we have our high definition video's running. We have 8 of them trained on the stage, though one is focused only on Wayne. These capture audio as well as video. We also have been using a long directional mike directed toward Wayne and whoever else might be speaking. We found that the music can be loud at times. Soon after the second session the students take the dancers off in two to a separate room where we have 4 more high definition cameras focused on a small dance floor with a black screen behind it.
            </div>
    </div>
			<!-- Our-staff-starts -->
		<div class="our-staff about-staff">
			<div class="container">
				<div class="our-staff-head text-center">
					<header>
						<h3>Our Staff</h3>
						<p></p>
					</header>
				<div class="our-staff-grids text-center">
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s1.jpg" alt=""></a>
					                 
                   					 <h4>Kavita Vemuri</h4>
			                    <p></p>
                   		</div>
					</div>
					<div class="col-md-3 our-staff-grid">
						<div class="view view-seventh">
								<a href="#"><img class="img-responsive" src="images/s2.jpg" alt=""></a>
					                 
                   					 <h4>Priyanka Srivastava</h4>
			                    <p></p>
                   		</div>
					</div>
					<div class="clearfix"></div>
				</div>
				</div>
			</div>
		</div>
		<!-- //Our-staff-ends -->
		</div>
	</div>
	<!-- //content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<!-- footer-section -->
	<div class="footer">
		<br><br>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015, <span id="logo" style="display:inline;font-size:17px;"><b>Cognitive Science Lab</b></span>, IIIT Hyderabad</p>					
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/gallery">Pictures</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer-section -->
	<!-- //footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>About us. </title>
<title>Contact Us Page.!</title>
	<link rel="stylesheet" id="basic-css" href="/static/labs/css/aboutus.css" type="text/css" media="all">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/static/labs/css/styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="/static/labs/js/script.js"></script>
   
  
	
	</script>
</head>

<body>

<h1>About us </h1>
<hr>
{% if about_list %}
<div class="container">
	<ul>
	{% for query in about_list %}
	<li>
		<h3>
			{{query.question}} 
		</h3>
		<p>
			{{query.answer}}
		</p>
	</li>
	{% endfor %}
	</ul>
	</br>
</div>
{% else %}
	<p> Nothing to say. </p>
	
{% endif %}
</br>
</br>
</div>
</body>
</html>

