<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link href="/static/labs/gallery/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="/static/labs/gallery/js/jquery.min.js"></script>
<link href="/static/labs/gallery/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="/static/labs/gallery/js/bootstrap.js"></script>
<script src="/static/labs/gallery/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/labs/gallery/js/move-top.js"></script>
<script type="text/javascript" src="/static/labs/gallery/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="header-top">
				<!--p>Click <a href="../">here</a> for home!</p-->
				<div class="logo">
					<h1 align="center"><a href="../">Cognitive Science Lab</a></h1>
				</div>

				<div class="clearfix"></div>
			</div>
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
								<li><a href="/about">ABOUT</a></li>
								<li><a href="/videos">Videos</a></li>
								<li><a href="/gallery">Pictures</a></li>
								<li><a href="/posts">Blog</a></li>
								<li class="active"><a href="/contact">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
		</div>
	</div>
	<div class="content">
	 <div class="contact-section">
	    <div class="container">
		  <h2 class="heading text-center">Contact Us</h2>
				<div class="contact-main">
					<div class="col-md-6 contact-grid">
						<form>
							<p class="your-para">Your Name:</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<p class="your-para">Your Mail:</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<p class="your-para">Your Message:</p>
							<textarea cols="77" rows="6" onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
							<div class="send">
								<input type="submit" value="Send" >
							</div>
						</form>
					</div>
					<div class="col-md-6 contact-in">
						<!--p class="sed-para"></p-->
						<p class="para1">Reaching Hyderabad by a train and getting down at the Hyderabad (Nampally) station would be the easiest way to reach us.take an auto or APSRTC bus (Nos: 216 & 217) to reach IIIT-H. The auto would cost around Rs.110/- and bus fare would be around Rs.12/-. <br>

If one is coming from Secunderabad station which is around 23km from IIIT-H, the auto fare would be roughly around Rs.150. One can take an APSRTC bus to Mehdipatnam.<br>

If one is reaching Hyderabad by bus and getting down at Mahatma Gandhi Bus Station, then one can reach the campus by APSRTC bus numbered 216 or 217 which would cost around Rs.15/-. (Note: Bus numbers 216K and 216L do not go via the institute campus).


 </p>
						<div class="more-address"> 
								<address>
								  <strong>Cogntive Science Lab,.</strong><br>
									International Institute of Information Technology,<br>
									Gachibowli,<br>
									Hyderabad 500032,<br>
									India<br>
								  <abbr title="Phone">P:</abbr> 91-40-23001967 Ext: 182 <br>
								  <strong>E-Mail: </strong>
								  <a href="mailto:info@example.com">cogsci@iiit.ac.in</a>
							   </address>
						  </div>
					</div>
						<div class="clearfix"> </div>
			      </div>
		        <h3 class="text-center find">Find Us Here</h3>
		   <div class="map">
				<iframe src="https://www.google.com/maps/embed/v1/search?q=IIIT%2C%20Gachibowli%2C%20Hyderabad%2C%20Telangana%2C%20India&key=AIzaSyAYpwi1QnCCnhDOgSu7hrSrjyj5x0PsOIo" style="border:0"></iframe>
			</div>
	   </div>
     </div>

	</div>
	<div class="footer">
		<br><br>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015, <span id="logo" style="display:inline;font-size:17px;"><b>Cognitive Science Lab</b></span>, IIIT Hyderabad</p>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/gallery">Pictures</a></li>
						<li><a href="/posts">Blog</a></li>
						<li><a href="/contact">Contact Us</a></li>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>