<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<meta name="viewport" content="width = device-width, initial-scale = 1">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>Gallery</title>
<link href="/static/labs/gallery/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="/static/labs/gallery/js/jquery.min.js"></script>
<link href="/static/labs/gallery/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/labs/gallery/css/lightbox.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<script type="text/javascript" src="/static/labs/gallery/js/bootstrap.js"></script>
<script src="/static/labs/gallery/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/static/labs/gallery/js/move-top.js"></script>
<script type="text/javascript" src="/static/labs/gallery/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="header-top">
				<p>Click <a href="../">here</a> for home!</p>
				<div class="logo">
					<h1 align="center"><a href="../">Cognitive Science Lab</a></h1>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
								<li><a href="/about">ABOUT</a></li>
								<li><a href="/videos">Videos</a></li>
								<li class="active"><a href="/gallery">Pictures</a></li>
								<li><a href="/posts">Blog</a></li>
								<li><a href="/contact">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div>
					</nav>
			</div>
		</div>
	</div>
	<div class="content">
<div class="gallery">
		<div class="container">
			<h2 class="heading text-center">Picture Gallery</h2>
			<div class="gallery-bottom">
					{% if images_list %}
	{% for img in images_list %}
		<p> {{img.tag_line}} </p>
		<div class="col-md-3 gallery-grid">
						<a class="example-image-link" href="{{img.my_image.url}}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
		<img src = "{{img.my_image.url}}" class="example-image" alt=""/>
		</a>
		</div>
	{% endfor %}
{% else %}
	<p> No images to display. </p>
{% endif %}

			
					<div class="clearfix"></div>
				</div>
				
		 </div>
	 </div>
<script src="/static/labs/gallery/js/lightbox.js"></script>

	</div>
	<div class="footer">
		<br>
		<br>

		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015, <span id="logo" style="display:inline;font-size:17px;"><b>Cognitive Science Lab</b></span>, IIIT Hyderabad</p>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/videos">videos</a></li>
						<li><a href="/gallery">Pictures</a></li>
						<li><a href="/posts">Blog</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {

		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>
