<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<meta name="viewport" content="width = device-width, initial-scale = 1">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Main Page</title>
 <link rel="stylesheet" id="basic-css" href="/static/labs/css/index.css" type="text/css" media="all">
 <meta name="author" content="www.twitter.com/cheeriottis">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
<h1> Cognitive Science Lab </h1>
<span class="shake shake-constant">
<div id="wrapper">


</div>
</span>
<a class="action-button shadow animate blue" href="/about"> About Us!</a>
<a class="action-button shadow animate red" href="/contact">Contact Us!</a>
<a class="action-button shadow animate green" href="/gallery">Picture Gallery</a>
<a class="action-button shadow animate maroon" href="/videos">Video Gallery</a>
<a class="action-button shadow animate yellow" href="/volunteer">Volunteer Form</a>
<a class="action-button shadow animate orange" href="/posts">Blogs</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
