
<!DOCTYPE html>
<html lang="en">
<head>
<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
<!-- Set the page to the width of the device and set the zoon level -->
<meta name="viewport" content="width = device-width, initial-scale = 1">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--Till Here-->
<title>Gallery</title>
<link href="/static/labs/gallery/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/labs/gallery/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/labs/gallery/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/labs/gallery/css/lightbox.css" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
	<script type="text/javascript" src="/static/labs/gallery/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="/static/labs/gallery/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <!-- web-fonts -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
<script type="text/javascript" src="/static/labs/gallery/js/move-top.js"></script>
<script type="text/javascript" src="/static/labs/gallery/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>

<body>
<!-- header-section-starts-here -->
	<div class="header">
		<div class="container">
			<div class="header-top">
				<p>Click <a href="../">here</a> for home!</p>
				<div class="logo">
					<h1 align="center"><a href="../">Cognitive Science Lab</a></h1>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<!-- navigation -->
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
								<li><a href="/about">ABOUT</a></li>
								<li><a href="/videos">Videos</a></li>
								<li class="active"><a href="/gallery">Pictures</a></li>
								<li><a href="/posts">Blog</a></li>
								<li><a href="/contact">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>
	<!-- header-section-ends-here -->
	<!-- content-section-starts-here -->
		<div class="content">
		<!----> 
<div class="gallery">
		<div class="container">
			<h2 class="heading text-center">Video Gallery</h2>
			<div class="gallery-bottom">
					{% if video_list %}
{% for video in video_list %}
		<p> {{video.description}} </p>
		<div class="col-md-3 gallery-grid">
		<iframe id="player" type="text/html" width="250" height="250"
src="http://www.youtube.com/embed/{{video.video_id}}"
frameborder="1">
</iframe>
						<!--a class="example-image-link" href="{{img.my_image.url}}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
		<img src = "{{img.my_image.url}}" class="example-image" alt=""/>
		</a-->
		</div>
	{% endfor %}
{% else %}
	<p> Nothing to display </p>
{% endif %}

			
					<div class="clearfix"></div>
				</div>
				
		 </div>
	 </div>
<script src="/static/labs/gallery/js/lightbox.js"></script>
<!----> 

	</div>
	<!-- //content-section-ends-here -->
	<!-- footer-section-starts-here -->
	<!-- footer-section -->
	<div class="footer">
		<br>
		<br>

		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015, <span id="logo" style="display:inline;font-size:17px;"><b>Cognitive Science Lab</b></span>, IIIT Hyderabad</p>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/gallery">Pictures</a></li>
						<li><a href="/posts">Blog</a></li>
						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer-section -->
	<!-- //footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>
<!--
<h1>Video Gallery</h1>
<hr>

{% if video_list %}
{% for video in video_list %}
<h3>
{{video.description}}
</h3>
<iframe id="player" type="text/html" width="640" height="390"
src="http://www.youtube.com/embed/{{video.video_id}}"
frameborder="0">
</iframe>

<br><br>
{% endfor %}
</br>
{% else %}
<p> Nothing to display. </p>

{% endif %}

