<!DOCTYPE html>
<html>
<head>
<title>About Us!</title>
<link href="/static/labs/gallery/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/labs/gallery/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/labs/gallery/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Literacy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- for bootstrap working -->
	<script type="text/javascript" src="/static/labs/gallery/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="/static/labs/gallery/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 1
      $("#slider1").responsiveSlides({
         auto: true,
		 nav: true,
		 speed: 500,
		 namespace: "callbacks",
      });
    });
  </script>
  <!-- web-fonts -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,400italic,600,300italic,300,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- web-fonts -->
<script type="text/javascript" src="/static/labs/gallery/js/move-top.js"></script>
<script type="text/javascript" src="/static/labs/gallery/js/easing.js"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
</head>
<body>
	<!-- header-section-starts-here -->
	<div class="header">
		<div class="container">
			<div class="header-top">
				<p>Click <a href="../">here</a> for home!</p>
				<div class="logo">
					<h1 align="center"><a href="../">Cognitive Science Lab</a></h1>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<!-- navigation -->
			<div class="navigation">
					<nav class="navbar navbar-default">
					 
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							  <ul class="nav navbar-nav">
								<li><a href="/volunteer">Volunteer!<span class="sr-only">(current)</span></a></li>
								<li class="active"><a href="/about">ABOUT</a></li>
								<li><a href="/videos">Videos</a></li>
								<li><a href="/gallery">Pictures</a></li>
								<li><a href="/posts">Blog</a></li>
								<li><a href="/contact">Contact Us</a></li>
							  </ul>
						  <div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
					</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>
	<!-- header-section-ends-here -->
	<div class="content">
		<!--contact-->
	 <div class="contact-section">
	    <div class="container">
		  <h2 class="heading text-center">Contact Us</h2>
				<div class="contact-main">
					<div class="col-md-12contact-grid">
					<form action="/volunteer/" method="post">
	{% csrf_token %}
		
	<tr><th><br><br><label for="id_Name">Name:</label></th><td>
		<br><input id="id_Name" maxlength="60" name="Name" type="text" /></td></tr>
<tr><th><br><br><br><label for="id_Mail_id">Mail id:</label></th><td>
	<br><input id="id_Mail_id" maxlength="60" name="Mail_id" type="email" /></td></tr>
<tr><th><br><br><br><label for="id_Mobile_number">Mobile number:</label></th><td>
	<br><input id="id_Mobile_number" maxlength="15" name="Mobile_number" type="text" /></td></tr>
<tr><th><br><br><br><label for="id_Date_of_birth">Date of birth:</label></th><td>
	<br><input id="id_Date_of_birth" name="Date_of_birth" type="text" /></td></tr>
<tr><th><br><br><br><label for="id_Gender">Gender:</label></th><td>
	<br><select id="id_Gender" name="Gender">
<option value="M" selected="selected">Male</option>
<option value="F">Female</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_Occupation_status">Occupation status:</label></th><td>
	<br><select id="id_Occupation_status" name="Occupation_status">
<option value="Student" selected="selected">Student</option>
<option value="Service">Service Man</option>
<option value="Business">Business Man</option>
<option value="Doctor">Doctor</option>
<option value="Teacher">Teacher</option>
<option value="Unemployed">Unemployed</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_Lab_you_want_to_contribute_in">Lab you want to contribute in:</label></th><td>
	<br><select id="id_Lab_you_want_to_contribute_in" name="Lab_you_want_to_contribute_in">
<option value="a" selected="selected">a</option>
<option value="b">b</option>
<option value="c">c</option>
<option value="d">d</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_How_do_you_plan_to_contribute">How do you plan to contribute:</label></th><td>
	<br><textarea cols="40" id="id_How_do_you_plan_to_contribute" maxlength="6000" name="How_do_you_plan_to_contribute" rows="10">
</textarea></td></tr>
<tr><th><br><br><br><label for="id_Transportation_plans">Transportation plans:</label></th><td>
	<br><select id="id_Transportation_plans" name="Transportation_plans">
<option value="Public" selected="selected">Public Transport</option>
<option value="Private Vehicle">Private Vehicle</option>
<option value="Bicycle">Bicycle</option>
<option value="Walk">Walk</option>
<option value="Others">Others</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_Handedness">Handedness:</label></th><td>
	<br><select id="id_Handedness" name="Handedness">
<option value="Left">Left</option>
<option value="Right" selected="selected">Right</option>
</select></td></tr>
<tr><th>
	<br><br><br><label for="id_Nationality">Nationality:</label></th><td><input id="id_Nationality" maxlength="20" name="Nationality" type="text" /></td></tr>
<br><br><input type="submit" value="Submit" />
</form>
						<!--form>
							<p class="your-para">Your Name:</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<p class="your-para">Your Mail:</p>
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<p class="your-para">Your Message:</p>
							<textarea cols="77" rows="6" onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
							<div class="send">
								<input type="submit" value="Send" >
							</div-->
						
					</div>
					<div class="clearfix"> </div>
			      </div>
<br><br>
			      <div class="footer">
		<br><br>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights text-center">
					<p>© 2015, <span id="logo" style="display:inline;font-size:17px;"><b>Cognitive Science Lab</b></span>, IIIT Hyderabad</p>
				</div>
				<div class="footer-nav">
					<ul>
						<li><a href="/volunteer">Volunteer! <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">ABOUT</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/gallery">Pictures</a></li>
						<li><a href="/posts">Blog</a></li>
						<li><a href="/contact">Contact Us</a></li>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //footer-section -->
	<!-- //footer-section-ends-here -->
	<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!---->
</body>
</html>






<!--html>
<head>
	<title>Search</title>
<link rel="stylesheet" id="basic-css" href="/static/labs/cogsci/basic.css" type="text/css" media="all">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
	<meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="/static/labs/css/styles.css"/>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="/static/labs/js/script.js"></script>
</head>
<body>
<div id='cssmenu'>
<ul>
   <li><a href = '#' ><span>Home</span></a></li>
   <li><a href = '/about'><span>About us</span></a></li>
   <li><a href = '/contact'><span>Contact Us</span></a></li>
   <li><a href = '/posts'><span>Blog</span></a></li>
   <li><a href = '/name'><span>Search</span></a></li>
   <li class='last'  class='active'><a href = '/volunteer'><span>Volunteer Form</span></a></li>
</ul>
</div>
<h1>Volunteer Form</h1>


<form action="/volunteer/" method="post">
	{% csrf_token %}
		
	<tr><th><br><br><label for="id_Name">Name:</label></th><td>
		<br><input id="id_Name" maxlength="60" name="Name" type="text" /></td></tr>
<tr><th><br><br><br><label for="id_Mail_id">Mail id:</label></th><td>
	<br><input id="id_Mail_id" maxlength="60" name="Mail_id" type="email" /></td></tr>
<tr><th><br><br><br><label for="id_Mobile_number">Mobile number:</label></th><td>
	<br><input id="id_Mobile_number" maxlength="15" name="Mobile_number" type="text" /></td></tr>
<tr><th><br><br><br><label for="id_Date_of_birth">Date of birth:</label></th><td>
	<br><input id="id_Date_of_birth" name="Date_of_birth" type="text" /></td></tr>
<tr><th><br><br><br><label for="id_Gender">Gender:</label></th><td>
	<br><select id="id_Gender" name="Gender">
<option value="M" selected="selected">Male</option>
<option value="F">Female</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_Occupation_status">Occupation status:</label></th><td>
	<br><select id="id_Occupation_status" name="Occupation_status">
<option value="Student" selected="selected">Student</option>
<option value="Service">Service Man</option>
<option value="Business">Business Man</option>
<option value="Doctor">Doctor</option>
<option value="Teacher">Teacher</option>
<option value="Unemployed">Unemployed</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_Lab_you_want_to_contribute_in">Lab you want to contribute in:</label></th><td>
	<br><select id="id_Lab_you_want_to_contribute_in" name="Lab_you_want_to_contribute_in">
<option value="a" selected="selected">a</option>
<option value="b">b</option>
<option value="c">c</option>
<option value="d">d</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_How_do_you_plan_to_contribute">How do you plan to contribute:</label></th><td>
	<br><textarea cols="40" id="id_How_do_you_plan_to_contribute" maxlength="6000" name="How_do_you_plan_to_contribute" rows="10">
</textarea></td></tr>
<tr><th><br><br><br><label for="id_Transportation_plans">Transportation plans:</label></th><td>
	<br><select id="id_Transportation_plans" name="Transportation_plans">
<option value="Public" selected="selected">Public Transport</option>
<option value="Private Vehicle">Private Vehicle</option>
<option value="Bicycle">Bicycle</option>
<option value="Walk">Walk</option>
<option value="Others">Others</option>
</select></td></tr>
<tr><th><br><br><br><label for="id_Handedness">Handedness:</label></th><td>
	<br><select id="id_Handedness" name="Handedness">
<option value="Left">Left</option>
<option value="Right" selected="selected">Right</option>
</select></td></tr>
<tr><th>
	<br><br><br><label for="id_Nationality">Nationality:</label></th><td><input id="id_Nationality" maxlength="20" name="Nationality" type="text" /></td></tr>
<br><br><input type="submit" value="Submit" />
</form>
</body>
</html>
